
@{
    ViewBag.Title = "ResetFinish";
}

<div id="g-doc">
    <!-- logo start -->
    <div class="g-hd clearfix">
        <div class="m-logo">
            <h1 class="logo">
                <a href="#"><img src="../../Content/images/logo.png" /></a>
            </h1>
            <a href><img src="../../Content/images/logo-1.png" /></a>
        </div>
        <p class="m-tt">重置密码成功</p>
    </div>
    <!-- /logo start -->
    <!-- body start -->
    <!-- tips start -->
    <div class="g-bd"><p class="m-tips"></p></div>
    <!-- /tips start -->
    <!-- finish start -->
    <div class="g-ct">
        <div class="m-txt">
            <p class="smile"></p>
            <p class="tips">恭喜你，你已完成对登录密码的重置，请牢记</p>
            <p class="f-tac">您将在<i>5s</i>后<a href="#">返回登录页面</a> </p>
        </div>
    </div>
    <!-- /finish start -->
    <!-- /body end -->
</div>

